<div>{{title()}}</div>
<div>Can comment out to test load module behind the scene</div>
<my-app-header></my-app-header>
<button class="testt" (click)="onClick('app1')">Show App1</button>
<button (click)="onClick('app2')">Show App2</button>

<h3>MFE</h3>
<!-- <div>MFE Single SPA Parcel Component (has error if switching to app2 and back to app1)</div>
@if (config()) {
  <parcel [config]="config()" [mountParcel]="mountRootParcel()"/>
} -->
<div>Manual MFE Parcel Mount</div>
<div #container0></div>

<h3>Element</h3>
<!-- <div>New Element Component (has error if standalone)</div>
<my-app-element [appName]="currentActiveApp()" [tagName]="currentActiveTag()">
  @if (currentActiveApp() === 'app1') {
    <app-one [input]="clickString()" (customClick)="onElementClick($event)"/>
  }
  @if (currentActiveApp() === 'app2') {
    <app-two [input]="clickString()"/>
  }
</my-app-element> -->
<div>New Element Directive</div>
  @if (currentActiveApp() === 'app1') {
    <app-one *lazyElement="currentActiveApp()" [input]="clickString()" (customClick)="onElementClick($event)"/>
  }
  @if (currentActiveApp() === 'app2') {
    <app-two *lazyElement="currentActiveApp()" [input]="clickString()" (customClick)="onElementClick($event)"/>
  }
<div>New Dynamic Element Directive</div>
<element-directive *lazyDynamicElement="currentActiveTag(), appName: currentActiveApp()" [input]="clickString()" (customClick)="onElementClick($event)"/>
<div>New Dynamic Element Loader Service</div>
<ng-container #container/>
<div>New Dynamic Element Loader Service By Template</div>
<ng-container #container2/>
<ng-template #template>
  @if (currentActiveApp() === 'app1') {
  <app-one [input]="clickString()" (customClick)="onElementClick($event)"/>
  }
  @if (currentActiveApp() === 'app2') {
    <app-two [input]="clickString()"/>
  }
</ng-template>
<div>New Element Directive By Url</div>
  @if (currentActiveApp() === 'app1') {
    <app-one *lazyElementByUrl="mfeUrl()" [input]="clickString()" (customClick)="onElementClick($event)"/>
  }
  @if (currentActiveApp() === 'app2') {
    <app-two *lazyElementByUrl="mfeUrl()" [input]="clickString()" (customClick)="onElementClick($event)"/>
  }

 <my-app-footer/>
